<!--
# Project name: ShelfAwareness
# # Description: Aims to improve/facilitate literacy through social media and donations of books
# # Filename: index.html.erb
# # Description: displays and gives options for interacting with wishlist
# # Last modified on: 4/25/2019
# # License: This code was adpated from https://guides.rubyonrails.org/getting_started.html#the-first-form under the Creative Commons Attribution-ShareAlike 4.0 International License
# -->

<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
}
</style>
</head>
<body>


<h1>ShelfAwareness</h1>
<h2>Wishlist</h2>

<%= link_to 'Homepage', welcome_index_path %>
<%= link_to 'Bookshelf', books_path %>
<%= link_to 'Donors', donors_path %>

<p>This is your current Wishlist.</p>
<br>
<%= link_to 'New Wish',  new_wish_path %><br>
<table style="width:100%">
  <colgroup>
    <col>
    <col>
    <col width="3">
    <col width="3">
    <col width="3">
  </colgroup>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th colspan="3">Options</th>
  <tr>

  <% @wishes.each do |wish| %>
    <tr>
      <td><%= wish.title %></td>
      <td><%= wish.author %></td>
      <td><%= link_to 'Show', wish_path(wish) %></td>
      <td><%= link_to 'Edit', edit_wish_path(wish) %></td>
      <td><%= link_to 'Delete', book_path(wish),
              method: :delete,
              data: { confirm: 'Are you sure? This action cannot be undone.' } %></td>
    </tr>
  <% end %>
</table>

</body>
</html>

