<p>
  <strong>Title:</strong>
  <%= @wish.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @wish.author %>
</p>

<p>
  <strong>Details:</strong>
  <%= @wish.details %>
</p>

<%= link_to 'Edit', edit_wish_path(@wish) %> |
<%= link_to 'Back', wishes_path %>
