<!--
# Project name: ShelfAwareness
# # Description: Aims to improve/facilitate literacy through social media and donations of books
# # Filename: show.html.erb
# # Description: shows details of a specific wish
# # Last modified on: 4/25/2019
# # License: This code was adpated from https://guides.rubyonrails.org/getting_started.html#the-first-form under the Creative Commons Attribution-ShareAlike 4.0 International License
# -->

<p>
  <strong>Title:</strong>
  <%= @wish.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @wish.author %>
</p>

<p>
  <strong>Details:</strong>
  <%= @wish.details %>
</p>

<%= link_to 'Edit', edit_wish_path(@wish) %> |
<%= link_to 'Back', wishes_path %>
