<!--
# Project name: ShelfAwareness
# # Description: Aims to improve/facilitate literacy through social media and donations of books
# # Filename: index.html.erb
# # Description: displays all wishes for donors to give to
# # Last modified on: 4/25/2019
# # License: This code was adpated from https://guides.rubyonrails.org/getting_started.html#the-first-form under the Creative Commons Attribution-ShareAlike 4.0 International License
# -->

<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
}
</style>
</head>
<body>

<h1>ShelfAwareness</h1>
<h2>Donor Page</h2>

<%= link_to 'Homepage', welcome_index_path %>
<%= link_to 'Bookshelf', books_path %>
<%= link_to 'Wishlist', wishes_path %><br>

<p>These are all of the unfulfilled wishes for books. Select one to donate it to someone who wants it!</p>

<table style="width:100%">
  <colgroup>
    <col>
    <col>
    <col width="3">
  </colgroup>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Options</th>
  <tr>

  <% @wishes.each do |wish| %>
    <tr>
      <td><%= wish.title %></td>
      <td><%= wish.author %></td>
      <td><%= link_to 'Donate', new_donor_path %><br>
    </tr>
  <% end %>
</table>

</body>
</html>

