<h1>ShelfAwareness</h1>

<%= link_to 'Bookshelf', controller: 'books' %>
<%= link_to 'Wishlist', controller: 'wishes' %>
<%= link_to 'Donors', controller: 'donors' %>
<%= link_to 'Forums (Coming soon!)' %>
<%= link_to 'Profile (Coming soon!)' %>



	<p>This project aims to boost low literacy rates in children of all ages by encouraging
	and facilitating the exploration of new books while also providing donations of books for
	any who are unable to afford them. </p>
